html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;

    font-family: 'Space Grotesk', sans-serif;
    font-optical-sizing: auto;

    --color-primary: #93D8E3;
}

#webgl-canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 0;
}

#controls {
    position: absolute;
    z-index: 100;
    padding: 20px;
    bottom: 20px;
    right: 20px;
    width: 200px;
    background-color: #373A4E;
    color: white;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#controls h1 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

#controls h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 0.95rem;
}


.control-label {
    margin-bottom: 2px;
    font-size: 0.95rem;
}

.control-slider {
    -webkit-appearance: none;
    height: 2px;
    background: #d3d3d3;
    border-radius: 10px;
    cursor: pointer;
}

.control-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.control-slider::-moz-range-thumb {
    background: var(--color-primary);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
}

.control-slider::-ms-thumb {
    background: var(--color-primary);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
}

.control-slider::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.control-slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#generate {
    position: absolute;
    z-index: 100;
    padding: 20px;
    bottom: 20px;
    left: 20px;
    width: 200px;
    background-color: #373A4E;
    color: white;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#generate h1 {
    margin: 0;
    font-size: 1.2rem;
}

#generate h2 {
    margin: 0;
    font-size: 0.95rem;
}

.control-group {
    margin: 1rem 0;
}

#scene {
    position: absolute;
    z-index: 100;
    padding: 20px;
    bottom: 180px;
    left: 20px;
    width: 200px;
    background-color: #373A4E;
    color: white;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#scene h1 {
    margin: 0;
    font-size: 1.2rem;
}

#scene h2 {
    margin: 0;
    font-size: 0.95rem;
}

#color-picker-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

#vertex-color {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 90px;
    height: 25px;
    background: transparent;
    cursor: pointer;
    border: none;
}

#vertex-color::-webkit-color-swatch {
    border: none;
}